@page
@model to_do.Pages.Expenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Category.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expense.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
