@page
@model to_do.Pages.Incomes.IndexModel

@{
    ViewData["Title"] = "Incomes";
    Layout = "_Layout";
}

<div class="incomes-bg income-table">
    <div class="content-wrapper text-center">
        <h2 class="text-white">Incomes</h2>
        <a asp-page="Create" class="btn btn-success my-3">Add New Income</a>
        <div class="table-responsive">
            <table class="income-table table table-striped table-bordered table-hover table-dark">
                <thead class = "income-table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Income[0].Source)</th>
                        <th>@Html.DisplayNameFor(model => model.Income[0].Amount)</th>
                        <th>@Html.DisplayNameFor(model => model.Income[0].Date)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Income) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Source)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary mx-1">Edit</a>
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info mx-1">Details</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

       
.table thead th {
            background-color: #007bff; /* Bootstrap primary color */
            color: white; /* Text color for header */
        }
        
        .text-center {
            padding: 15px;
        }

        .button-group a.btn {
            min-width: 200px;
            margin: 0 5px;
        }
    </style>
}

